@use 'tailwindcss';

.app-header {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  @apply fixed top-0 bg-white w-full flex flex-row items-center z-50;
}

.app-header,
.app-header-spacing {
  height: 50px;
}

.app-logo {
  height: 50px;
  width: 50px;
}

.app-title {
  @apply font-bold whitespace-nowrap overflow-ellipsis;
}
